[Unit]
Description=mariadb container for %i
After=docker.service
Requires=docker.service
Requires=docker-mysql-data@%i.service
After=docker-mysql-data@%i.service

[Service]
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15
EnvironmentFile=/etc/containers/%i.conf
ExecStart=/usr/bin/systemd-docker --env run --rm --name=%i-mysql --volumes-from=%i-mysql-data enospc/mysql

[Install]
WantedBy=multi-user.target
